.Header ul .link {
    text-decoration: none;
    color: darkblue; /* Set the color of your links */
    font-size: 24px; /* Increased font size */
    font-weight: bold; /* Make the text bold */
    flex-grow: 1;
    text-align: center;
    padding: 10px; /* Adds padding for better touch interaction and visual appeal */
    margin: 0 10px; /* Optional: Adds horizontal spacing between links */
    font-family: Calibri, sans-serif;
}

.Logo {
    width: 120px;
    height: 100px;
    order: 2; /* Keeps the logo on the right */
}

.BELL {
    width: 80px;
    height: 80px;
    order: 1; /* Adjust if you want the bell icon in a specific order */
}

.Header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #daedf5;
    padding: 0;
    margin: 0;
    height: 100px;
}
.Header .link:hover {
    background-color: #f1c9c9; /* Light grey background on hover */
    border-radius: 50px;
}