.background {
    background-image: url('./photos/anan.jpg'); /* Adjust path as necessary */
    background-size: cover; /* Cover the entire area of the element */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Optional: Fixed background on scroll */
    min-height: 100vh; /* Minimum height to cover the full viewport */
    width: 100%;
    position: relative; /* Establishes a stacking context for z-index */
}

.accordion {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    font-family: Calibri, sans-serif;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-button {
    background: darkblue;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: background-color 0.6s ease;
    font-family: Calibri, sans-serif;
    font-weight: bold;
}

.accordion-button:hover {
    background-color: darkblue;
}

.accordion-content {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    overflow: hidden;
    padding: 0 18px;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 25px; /* Increased font size */
    line-height: 1.5; /* Optional: Adjust line spacing for better readability */
}
